button {
    background-color: rgb(134, 134, 250);
    color: white;
    border-radius: 25px;
    min-width: 120px;
    min-height: 40px;

}

nav {
    text-align: center;
}



#content {
    width: 600px; /* Set a specific width for the card */
    padding: 20px; /* Adds padding inside the card */
    background-color: rgb(151, 157, 221); /* Gives the card a white background */
    border-radius: 10px; /* Rounds the corners of the card */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow to the card */
    display: flex; /* Enables flexbox for vertical centering of its children */
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    opacity: 0.7;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 300px;
  }
  
  .card img {
    max-width: 300px; /* Maximum width */
    max-height: 300px; /* Maximum height */
    height: auto;
    border-radius: 5px;
  }
  
  